<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="head :: head_comun(~{::title})">
        <title>Rol</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:include="menu::header">                
            </nav>
            <div class="row">
                <div class="col-12">            
                    <form action="#" th:action="@{/addRol}" th:object="${rol}" method="POST" id="frmAddRol">
                        <input type="hidden" th:field="*{id}" >
                        <div class="mb-2">
                            <label for="txtNombre" class="form-label">Rol:</label>
                            <input type="text" class="form-control" id="txtNombre" placeholder="ROLE_USER" th:field="*{nombre}" th:value="${nombre}">

                            <label for="txtDescripcion" class="form-label">Descripción</label>
                            <input type="text" class="form-control" id="txtDescripcion" placeholder="Descripcion" th:field="*{descripcion}" th:value="${descripcion}">
                        </div>
                        <p>
                            <input type="submit" value="Agrgar" class="btn btn-success" /> 
                            <input type="reset" value="Reset" class="btn btn-secondary" />
                        </p>
                    </form>
                </div>
            </div>
            <div th:include="pie::footer"></div>
        </div>        
    </body>
</html>